@media (max-width: 1120px) {
  .advantages__inner {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
  }
  .advantages__item {
    width: 50%;
    padding: 30px;
  }
}

@media (max-width: 1024px) {
  .top__inner-img {
    margin-left: 0;
  }
}

@media (max-width: 1000px) {
  .list__inner {
    display: block;
  }
  .tabs__content {
    max-width: 500px;
    margin: 0 auto;
  }
  .tabs__reviews {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .tabs__content::before,
  .tabs__content::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #a4c58c;
  }
  .tabs__content::before {
    right: 100%;
  }
  .tabs__content::after {
    left: 100%;
    z-index: 1;
  }
  .list__link {
    justify-content: center;
  }
  .list__link a {
    padding: 22px 60px 22px 80px;
    min-width: 415px;
  }
  .list__link a:after {
    right: 63px;
  }
  .tabs__reviews-link {
    left: 137px;
  }
  .tabs {
    padding-right: 50px;
    padding-left: 50px;
  }
  .advantages {
    margin-bottom: 90px;
  }
  .list__title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto 50px;
  }
  .tabs__reviews::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 20px;
    left: 100%;
    bottom: -20px;
    z-index: 2;
  }
  .tabs__reviews::before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 20px;
    right: 100%;
    bottom: -20px;
    z-index: 2;
  }
  .list__inner {
    padding-bottom: 20px;
  }
}

@media (max-width: 940px) {
  .top__inner-form {
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .top__inner-suptitle,
  .top__inner-title,
  .top__inner-text {
    width: 280px;
    margin-right: 100px;
  }
  .top__inner-suptitle {
    margin-bottom: 30px;
    margin-top: 36px;
  }
  .top__inner-title {
    font-size: 50px;
    line-height: 50px;
  }
  .top__inner-text {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .header__text {
    font-size: 14px;
  }
  .advantages__inner {
    padding-right: 40px;
  }
  .advantages__item {
    padding-right: 70px;
  }
}

@media (max-width: 740px) {
  .top__inner-img img {
    width: 220px;
  }
  .advantages__inner {
    padding-top: 170px;
  }
}

@media (max-width: 700px) {
  .header__text {
    display: none;
  }
}

@media (max-width: 640px) {
  .top__inner {
    flex-direction: column;
    align-items: center;
  }

  .top__inner-suptitle,
  .top__inner-title,
  .top__inner-text {
    width: 100%;
    margin-right: 0;
  }
  .top__inner-form {
    left: 15px;
    position: static;
    align-items: center;
    text-align: center;
  }
  .top__inner-img img {
    width: 100px;
  }
  .top__inner-img {
    order: 1;
  }
  .mobile__link-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 22px 15px 22px 15px;
  }
  .top__form {
    display: none;
  }
  .top__inner-text {
    display: none;
  }
  .advantages__inner {
    padding-left: 0;
    padding-right: 0;
    padding-top: 120px;
  }
  .advantages__item::before {
    display: none;
  }
}

@media (max-width: 600px) {
  .top__inner-suptitle {
    margin-top: -30px;
  }
  .advantages__inner {
    padding-top: 160px;
  }
  .advantages__item {
    width: 100%;
    padding-bottom: 40px;
    padding-right: 25px;
  }
  .tabs__box {
    flex-direction: column;
  }
  .tabs__box .tab:first-child,
  .tabs__box .tab:nth-child(3) {
    border-right: none;
    padding-right: 0;
  }
  .tabs__box .tab:last-child,
  .tabs__box .tab:nth-child(2) {
    padding-left: 0;
  }
  .tabs__box .tab {
    width: 100%;
  }
  .tabs {
    padding-right: 10px;
    padding-left: 10px;
  }
  .tab__order-0 {
    order: 0;
  }
  .tab__order-1 {
    order: 2;
  }
  .tab__order-2 {
    order: 1;
  }
  .tab__order-3 {
    order: 3;
  }
}

@media (max-width: 550px) {
  .tabs__content {
    height: 153px;
    background-image: none;
  }
  .tabs__content::after,
  .tabs__content::before {
    display: none;
  }
  .tab__order-3 {
    border-bottom: none;
  }
  .tabs__reviews {
    margin: 0;
  }

  .tabs__reviews-link {
    left: 140px;
  }
  .tabs {
    padding-left: 0;
    padding-right: 0;
  }
  .tabs__reviews-inner {
    padding: 30px 20px;
    width: 300px;
  }

  .tabs__reviews::after,
  .tabs__reviews::before {
    display: none;
  }
  .tabs__reviews-link {
    left: 100px;
  }
  .list__link a {
    margin-top: 0;
  }
}

@media (max-width: 498px) {
  .advantages__inner {
    padding-top: 110px;
  }
}

@media (max-width: 480px) {
  .header__phone {
    font-size: 14px;
  }
  .header__phone a::before {
    display: none;
  }
  .header__phone-text {
    display: none;
  }
  .header__logo img {
    width: 115px;
  }
}

@media (max-width: 360px) {
  .header__inner {
    height: 75px;
  }
  .top__images {
    min-height: 375px;
  }
  .top__inner-img img {
    width: 85px;
  }
  .top__wrapper {
    margin-top: -325px;
  }
  .top__inner-suptitle {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .top__inner-title {
    font-size: 30px;
    line-height: 36px;
    padding: 0 15px;
  }
  .advantages__inner {
    padding-top: 90px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 341px) {
  .advantages__inner {
    padding-top: 55px;
  }

  .tabs__reviews {
    padding-left: 0;
    padding-right: 0;
  }
  .list__inner {
    padding-bottom: 27px;
}
}
