body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  height: 105px;
  align-items: center;
}

.header__text {
  margin-right: auto;
  margin-left: 30px;
  font-size: 16px;
  color: #9a9a9a;
}

.header__phone {
  font-weight: 500;
  font-size: 20px; 
}

.header__phone a {
  color: #303030;
  text-decoration: none;
  position: relative;
}

.header__phone a:before {
  content:'';
  background-image: url(../images/phone.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  left: -27px;
  top: 5px;
}

.header__phone-text {
  font-weight: 400;
  font-size: 12px;
  color: #9a9a9a;
  text-align: right;
  margin-top: 5px;
}

.top {
  margin-bottom: 95px;
}

.top__images {
  background-image: url(../images/top-bg.jpg);
  min-height: 544px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1720px;
  margin: 0 auto;
}

.top__wrapper {
  margin-top: -450px;
}
